<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: aquamarine;
            }
        .data{
            margin-top: 23px;
            margin-left: 223px;
        }
        .head{
            color: red;
            margin-top: 80px;
            margin-left: 550px;
        
        }

        </style>
</head>
<body>
    <div class="head"><h1>Sandip Laptop Status</h1></div>
    <div class="data">
        <h3>C: {{ C }}% Use </h3>
        <h3>F: {{ F }}% Use</h3>
        <h3>D: {{ D }}% Use</h3>
        <h3>G: {{ G }}% Use</h3>
        <h3>MEMORY: {{ mem }}% Use</h3>

    </div>
</body>
</html>